header {
    padding-top: 14px;
    padding-left: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header i {
    color : #353535;
}

header .logo-text {
    margin-left:25%;
    padding-top:10px;
    padding-bottom: 10px;
    font-family: Shrikhand, sans-serif;
    font-size: 27px;
}

header .logo-text {
    margin-left:25%;
    padding-top:10px;
    padding-bottom: 10px;
    font-family: Shrikhand, sans-serif;
    font-size: 27px;
}

main {
    position:relative;
}

.title {
    padding-top: 20px;
    padding-left: 4%;
    padding-right: 4%;
}

.wrap-sections {
    border-radius: 40px 40px 0 0;
    background-color: #F6F6F6;
    padding-bottom: 50px;
    position:absolute;
    top:240px;
    width: 100%;
}

h1 {
    color: #000;
    font-family: Shrikhand, sans-serif;
    font-size: 28px;
    font-weight: 400;
    padding:0;
    margin:0;
}

article {
    display: flex;
    justify-content: space-between;
    border-radius: 15.043px;
    background: #FFF;
    box-shadow: 0 4.011494159698486px 15.043103218078613px 0 rgba(0, 0, 0, 0.10);
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

h3 {
    margin:0;
    height: 21px;
    flex-shrink: 0;
    color: #000;
    text-overflow: ellipsis;
    font-weight: 500;
}

.plat-description {
    padding-top: 5px;
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    font-size: 15.043px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin : 0;
}

.price {
    color: #353535;
    text-align: center;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 25px
}

.order-button {
    margin-left: 23%;
    width: 186px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
    background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    border: 1px;
    color :white;
    margin-top: 20px;
}

footer {
    position: relative;
    top : 950px;
}

