@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Shrikhand');

body {
    padding: 0;
    margin: 0 0;
    font-family: Roboto, sans-serif;
}

header {
    padding: 14px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

header a {
    margin-right : 25%;
}

.loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,1);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 12s forwards;
}

.loader::before {
    content: "";
    border: 16px solid #f3f3f3;
    border-top: 16px solid #FF79DA;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeOut {
    to {opacity:0; pointer-events:none; display:none;}
}


.logo {
    height: 36px
}

.logo img {
    height: 100%;
    object-fit: cover;
}

.img-baniere {
    height: 275px;
}

.img-baniere img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.localisation {
    margin-top: 0;
    background: #EAEAEA;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 17px;
    flex-shrink: 0;
}

.localisation input{
    border : 0;
    background: #EAEAEA;
}

main  {
    margin-top:5px;
    display: flex;
    flex-direction: column;
}

.title {
    background: #F6F6F6;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 0;
    width: 275px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.title p {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
}



.title button {
    color: white;
    border-radius: 25px;
    background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
    height: 50px;
    width: 218px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    border:0;
}

button:hover {
    opacity: 0.5;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 1);
}

.fonctionnement {
    padding-top: 20px;
    padding-left: 4%;
    padding-right:4%;
    display: flex;
    flex-direction: column;
}

.choix-restaurant,
.composer-menu,
.degustez-restaurant  {
    position: relative;
    width: calc(100% - 8%);
    margin-top: 10px;
    padding-left: 6%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    background: #F6F6F6;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    height: 24px;
    width: 24px;
    background-color : #9356DC;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: -12px;
}

.choix-restaurant i,
.composer-menu i,
.degustez-restaurant i {
    width: 30%;
    padding-left:20%;
    color:  #7E7E7E;
    font-size: 20px;
}

.wrap-menu i:hover {
    color: #9356DC;
}

.fonctionnement .text {
    padding-left: 10%;
    width: 60%;
    font-size: 16px;
}

.restaurants {
 padding-left: 4%;
 padding-right: 4%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.new {
    position: absolute;
    width: 80px;
    border-radius: 2px;
    background: #99E2D0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    color: #008766;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    top: 20px;
    right:  20px;
    padding-top:5px;
    padding-bottom: 5px;
}

.card-menu {
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.10);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.img-card {
    position :relative;
    height: 231px;
    width: 100%;
}

.img-card img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.wrap {
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
}

.wrap-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 97%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-title {
    display: flex;
    height: 40px;
}

.first-line {
    display: flex;
   justify-content: space-between;
}

h3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.heart {
    position: relative;
    padding-top: 30px;
    padding-right: 3%;
}

.heart:hover .heart-solid {
    visibility: visible;
    opacity: 1;
    transition: all 1s ease-in;
}

.heart:hover .heart-regular {
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in;
}

.heart-solid {
    position: absolute;
    top: 30px;
    left: 0;
    visibility: collapse;
    opacity: 0;
    transition: all 1s ease-out;
    background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    color: white;
}

footer a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.logo-txt {
    padding-top:10px;
    padding-bottom: 10px;
    font-family: Shrikhand, sans-serif;
    font-size: 27px;
}

.link {
    display: flex;
    padding-bottom:10px;
}

.link i {
    padding-right :5px;
}

/*menu*/
.entrees ,
.plats,
.desserts {
    margin-bottom:10px;
    padding-left: 3%;
    padding-right: 4%;
}

.wrap-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
}

h2 {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

h2::after {
    content: "";
    display: block;
    width: 10%;
    height: 3px;
    background: #99E2D0;
}

.checkmark i {
    color: #99E2D0;
}

.checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15.043px 15.043px 0;
    background-color: #99E2D0;
    height: 100%;
    width: 0;
    visibility: hidden;
}

.checkmark div:first-child  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}




@media screen and (min-width: 990px) {

    header a {
        margin-right : 40%;
    }

    h1 {
        width: auto;
    }

    .title p {
        margin-top: 0;
    }

    h2 {
        text-transform: none;
    }

    h2::after {
        width: 0;
    }

    .wrap-menu {
        display: flex;
        justify-content: space-between;

    }

    .choix-restaurant,
    .composer-menu,
    .degustez-restaurant {
        width: 27%;
        padding-left: 2%;
        padding-right: 2%;
    }

    .fonctionnement .text {
        width: auto;
    }

    .restaurants {
        margin-top : 40px;
        background-color: #F6F6F6;
    }

    .wrap-articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .restaurants a {
        width: 47%;
    }

    .card-menu {
        width: 100%;
        margin-bottom: 30px;
    }

    footer {
        flex-direction: row-reverse;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    footer .logo-txt {
        font-family: Shrikhand, sans-serif;
        font-size: 18px;
        width:10%;
        padding-right: 2%;
    }

    footer .wrap-links {
        padding-right: 5%;
        padding-left: 40%;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
    }

    footer .link {
        font-size: 12px;
        padding-right: 2%;
    }

}